/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*************/

/**********SCROLLUP**********/
.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:40px;
  display:none;
  text-indent:-9999px;
  background: url("../img/icon_top.png") no-repeat;
}

/*********ШРИФТЫ**********/

@font-face {
	font-family: Inter; 
	src: url('../fonts/Inter-Regular-slnt=0.ttf'); 
}
@font-face {
	font-family: Playfair Display; 
	src: url('../fonts/PlayfairDisplay-Regular.ttf'); 
}



body {
	background: #FFFFFF;;
}
.wrapper {
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.container {
	max-width: 1304px;
	margin: 0 auto;
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 45px;
}
.fixed {
	background: linear-gradient(rgba(241, 234, 234, .8), rgb(241, 234, 234));
	opacity: .8;
	padding-bottom: 35px;
	transition: all .5s ease;
}
.fixed:hover {
	opacity: 1;
}
.header__logo {
	width: 41px;
	height: 41px;
}
.header__nav {
	display: flex;
}
.header__list {
	display: flex;
	align-items: center;
}
.header__list a {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #B8BECD;
}
.header__list a:hover {
	color: #202336;
	font-weight: bold;
}
.header__list li {
	margin: 0 17px;
}
.header__button {
}
.header__button button {
	margin: 0 9px ;
	width: 132px;
	height: 44px;
	color: #FB8F1D;
	font-family: 'Inter';
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: center;
	border: 1px solid #FB8F1D;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 8px;
}
.header__button button:nth-child(2n) {
	background: #FB8F1D;
	border-radius: 8px;
	color: #FFFFFF;
}






.main {
	margin-top: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.explore {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.explore__search {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-right: 147px;
}
.explore__title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 80px;
	color: #202336;
	margin-bottom: 74px;
}
.explore__text {
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #202336;
	text-align: left;
	margin-bottom: 71px;
}
.explore__text:before {
	content: "";
	position: absolute;
	width: 32px;
	height: 2px;
	left: 0;
	top: 43px;
	background: #202336;
	border-radius: 4px;
}
.explore__filter {
	display: flex;
	flex-wrap: wrap;
}
.explore__filter_select {
	position: relative;
	width: 50%;
	max-width: 220px;
	height: 52px;
	border: 0.8px solid #AFB0B9;
	box-sizing: border-box;
	border-radius: 6px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 32px;
	color: #4A4C53;
	padding: 0 0 0 31px;
	margin: 17.5px 15px;
}
.explore__filter_select:nth-child(odd){
	margin-left: 0;
}
.explore__button button{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: #FFFFFF;
	background: #FB8F1D;
	border-radius: 8px;
	width: 180px;
	height: 52px;
	margin-top: 51px;
	transition: all .5s ease;
}
.explore__button button:hover {
	box-shadow: 0 5px 5px lightgrey;
	transform: scale(1.1);
}
.explore__img {
}
.explore__img img {
	width: 100%;
}


.new_day {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 266px 0;
}
.new_day__photo {
}
.new_day__photo img {
	width: 100%;
}
.new_day__content {
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.new_day__title {
	margin-bottom: 20px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	color: #000000;
}
.new_day__text {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 30px;
	color: #7D7987;
	margin-bottom: 33px;
}
.new_day__button button{
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: #FFFFFF;
	background: #FB8F1D;
	border-radius: 8px;
	width: 180px;
	height: 52px;
	margin-top: 51px;
	transition: all .5s ease;
}
.new_day__button button:hover {
	box-shadow: 0 5px 5px lightgrey;
	transform: scale(1.1);
}
.destinations {
	margin-bottom: 173px;
}
.destinations__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 56px;
}
.destinations__title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	color: #000000;
}
.destinations__all {
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 60px;
	padding-right: 50px;
}
.destinations__all a {
	color: #FB8F1D;
}
.destinations__cart {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.destinations__item {
	position: relative;
	width: 25%;
	padding: 12.5px;
}

.destinations__img {
}
.destinations__img img {
	border-radius: 8px;
	width: 100%;
	transition: all .5s ease;
}
.destinations__img img:hover {
	transform: scale(1.1);
}
.destinations__name {
	position: absolute;
	width: 120px;
	height: 56px;
	left: 15;
	bottom: 0;
	background: #fff;
	border-radius: 0px 6px 0px 0px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 25px;
	color: #042521;

}

.destinations__name span {
	color: #80918E;
}


.span1 {
	position: absolute;
	left: 70px;
	top: 46%;
	width: 8px;
	height: 2px;
	background: #FB8F1D;
	transform: rotate(45deg);
}
.span2 {
	position: absolute;
	left: 70px;
	top: 54%;
	width: 8px;
	height: 2px;
	background: #FB8F1D;
	transform: rotate(-45deg);
}



.slider {
}
.slider__title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	color: #000000;
	margin-bottom: 43px;
}
.slider__body {
	position: relative;
}
.slider__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slder__description {
}
.slider__star {
	display: flex;
	margin-bottom: 30px;
}
.slider__star img {
	width: 25px !important;
	height: 25px;
	margin: 0 8px;
}
.slider__star img:nth-child(1) {
	margin-left: 0;
}
.slider__text {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 40px;
}
.slider__name {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 48px;
	color: #000000;
}
.slider__name span {
	margin-top: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 48px;
	color: rgba(0, 0, 0, 0.85);
}
.slider__img {
	position: relative;
}
.slider__img img {
	width: 100%;
	border-radius: 14px;
}
.arrow {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	bottom: 0;
	width: 132px;
	height: 60px;
	background: #fff;
	border-radius: 16px 0px 0px 0px;
}
.owl-next img {
	transform: rotate(180deg);
}
.owl-nav {
	position: absolute;
	right: 17px;
	bottom: 17px;
}
.owl-carousel .owl-nav button.owl-prev {
	margin: 0 10px 0 10px;
}




.trend {
	margin-top: 213px;
}
.trend__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 56px;
}
.trend__content {
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.trend__item {
	float: left;
	display: flex;
	flex-direction: column;
	width: 25%;
	height: auto;
	padding: 12.5px;
}
.trend__img {
}
.trend__img img{
	width: 100%;
	border-radius: 8px;
}
.trend__title {
	margin: 13px 0;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 30px;
	color: #000000;
}
.trend__text {
	margin-bottom: 23px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 26px;
	color: #7D7987;
}
.trend__read a{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 28px;
	color: #FB8F1D;
}




.footer {
	width: 100%;
	margin-top: 271px;
	background: #F9F9FB;
}
.footer__body {
	padding-top: 70px;
}
.footer__main {
	display: flex;
	justify-content: space-between;
	padding-bottom: 81px;
	border-bottom: 0.6px solid #C4C4C4;
}
.footer__description {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.footer__description_text {
	margin: 26px 0 55px 0;
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #848484;
}
.footer__description_author {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 28px;
	color: #848484;
}
.footer__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__list_title {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 60px;
	color: #000000;
}
.footer__list li {
}
.footer__list a {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 38px;
	color: #848484;
	transition: all .5s ease;
}
.footer__list a:hover {
	color: #FB8F1D;
}
.footer__social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 33px 0;
	padding-bottom: 33px;
}
.footer__social a {
	margin: 0 17.5px;
}


@media(max-width: 1200px) {
	.container {
		max-width: 970px;
	}
	.explore__filter_select:nth-child(odd) {
		margin-left: 15px !important;
	}
	.explore__button {
		margin-left: 15px;
	}
	.new_day__title {
		font-size: 30px;
	}
	.new_day__text {
		font-size: 13px;
		line-height: 28px;
	}
	.new_day__photo img {
		width: 90%;
	}
}
@media(max-width: 992px) {
	.container {
		max-width: 750px;
	}

}